USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_In_Tong_SLTG_PhieuXuat]    Script Date: 09/12/2017 11:54:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_In_Tong_SLTG_PhieuXuat]
@YEAR INT
AS
BEGIN
	BEGIN
		SELECT MONTH(dbo.PHIEUXUAT.NGAY) AS THANG, COUNT(dbo.PHIEUXUAT.MAPX) AS SOLUONG, SUM(dbo.CTPX.SOLUONG*dbo.CTPX.DONGIA) AS TRIGIA
		FROM dbo.PHIEUXUAT, dbo.CTPX
		WHERE dbo.PHIEUXUAT.MAPX = dbo.CTPX.MAPX AND YEAR(NGAY) = @YEAR
		GROUP BY MONTH(NGAY)
	END
END