USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_KiemTRaHoatDongNV]    Script Date: 29/11/2017 9:50:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_KiemTraHoatDongNV]
@MANV int,
@STARTTIME DATE,
@LASTTIME DATE
AS
BEGIN
	IF EXISTS(SELECT 1 FROM dbo.DATHANG where MANV = @MANV AND NGAY BETWEEN @STARTTIME AND @LASTTIME)
	BEGIN
		RETURN 1
	END
	IF EXISTS (SELECT 1 FROM dbo.PHIEUNHAP where MANV = @MANV AND NGAY BETWEEN @STARTTIME AND @LASTTIME)
	BEGIN
		RETURN 1
	END
	IF EXISTS (SELECT 1 FROM dbo.PHIEUXUAT where MANV = @MANV AND NGAY BETWEEN @STARTTIME AND @LASTTIME)
	BEGIN
		RETURN 1
	END
	RETURN 0
END