USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraTaiKhoanDaDangKy]    Script Date: 30/11/2017 11:29:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[sp_KiemTraTaiKhoanDaDangKy]
@TENUSER NCHAR(8)
AS
BEGIN 
IF (EXISTS(SELECT MANV FROM dbo.NHANVIEN WHERE NHANVIEN.MANV = @TENUSER))
BEGIN
	IF EXISTS (SELECT USERNAME = @TENUSER
	   FROM sys.sysusers 
	   WHERE UID = (SELECT GROUPUID 
					 FROM SYS.SYSMEMBERS 
				   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers  WHERE NAME=@TENUSER)))
		RETURN 1 -- TON TAI
	ELSE 
		RETURN 0 -- CHUA TON TAI
END
ELSE
	RETURN -1 --KHONG CO ID
END
